* {
  font-family: "Roboto", sans-serif;
}

.primary-overlay {
  /* background: rgba(63, 57, 77, 0.7); */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.header-color {
  background: #fbdcc9;
}
.main-header {
  background: url(../img/main-roller/nud.png);
  background-size: cover;
  background-position: center;
  height: 100vh;
  min-height: 600px;
  color: #fff;
  position: relative;
}
.nav-block li a {
  color: #272727;
  font-size: 2rem;
  text-transform: uppercase;
  transition: 0.5s linear;
}

.nav-block .active {
  color: #272727;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: bold;
}
.main-header .showcase {
  padding-top: 50px;
}

.main-text h1 {
  color: #fefefe;
  font-size: 6rem;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 5px;
}
.main-text p {
  color: #272727;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 400;
}

.scroll-icon {
  position: absolute;
  bottom: 5%;
  left: 47%;
  opacity: 0.5;
}

.box {
  padding: 40px 10px !important;
}

.box h4 {
  padding-bottom: 30px;
}

.section-boxes .row {
  margin-bottom: 0 !important;
}

.section-contact {
  position: relative;
}

.section-contact .card-panel {
  position: relative;
  z-index: 1;
}
.card-panel-mail {
  font-size: 1.4rem;
  font-weight: bold;
  letter-spacing: 1px;
}
.social {
  margin: 100px 0;
  background: #fbdcc9;
}

.follow-links {
  padding-top: 40px;
  text-align: center;
}

.follow-links h3 {
  font-size: 4rem;
}
.follow-links p {
  font-size: 2rem;
}
.social-icons-links {
  padding-top: 20px;
  padding-bottom: 30px;
}
.social-icons-links a {
  width: 50px;
  height: 50px;
  color: #000000;
  padding: 0 15px;
  transition: 0.5s linear;
}
.social-icons-links a:hover {
  color: rgba(63, 57, 77, 0.7);
}
.card-image {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.img-content {
  padding-top: 40%;
  text-align: center;
}

.img-content h3 {
  color: #272727;
}
.img-content a {
  color: #959086;
  font-size: 1.5rem;
  transition: 0.5s linear;
}
.img-content a:hover {
  color: #272727;
  font-size: 1.5rem;
  font-weight: bold;
}

.card-panel {
  background: #fbdcc9;
  color: #272727;
}
.card-panel-grey {
  background: #eeeeee !important;
}

.card-panel-grey input {
  background: #fbdcc9;
  color: #272727;
  transition: 0.5s linear;
}
.card-panel-grey input:hover {
  background: #fbdcc9;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.collection-item img {
  width: 40px;
}
.collection-item a {
  padding-top: 10px;
  padding-left: 20px;
  color: #272727;
  font-size: 1.5rem;
  transition: 0.5s linear;
}

.collection-item a:hover {
  font-weight: bold;
}

.collection-item {
  display: flex;
}
#googlemap {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 0;
}
.card-title {
  display: none;
}
.about-main {
  padding-top: 50px;
}
.about-section {
  /* height: 95vh; */
  background: rgba(251, 220, 201, 0.5);
}
.about-photo {
  text-align: center;
}
.about-me {
  text-align: center;
  padding-top: 20%;
}
.about-me h2 {
  font-size: 5rem;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 5px;
}
.about-me p {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 300;
  line-height: 10px;
}
.terms-block {
  padding-top: 30px;
  padding-left: 170px;
}
.terms-block p {
  font-size: 2rem;
  text-transform: uppercase;
}
.terms-block ul li {
  font-size: 2.3rem;
  line-height: 55px;
  text-transform: uppercase;
  list-style-type: disc;
}

.footer {
  margin-top: -20px;
  height: 50px;
  background: rgba(251, 220, 201, 0.25);
}
@media (max-width: 600px) {
  .main-header {
    height: 50vh;
  }
  .main-header .showcase {
    padding-top: 0;
  }
  .main-text h1 {
    font-size: 4rem;
    letter-spacing: unset;
  }
  .card-title {
    display: block;
  }
  .terms-block {
    padding-top: 30px;
    padding-left: 30px;
  }
  .about-me h2 {
    font-size: 4rem;
  }
  .about-me p {
    font-size: 1.7rem;
  }
  .terms-block ul li {
    font-size: 2rem;
  }
}
