.fs {
	margin-bottom: 10%;
    margin-top: 72px;
    display: flex;
    justify-content: space-between;
}
.fs li{
	text-decoration: none;
}

.creators {
	list-style-type: none;
	
}

.slider {
    position: relative;
    margin-top: 130px;
}