* {
  font-family: "Circe", sans-serif;
}

.navbar-up {
  border-bottom: 1px solid #eceaed;
}

.navbar-up a {
  color: #302a31;
}

.navbar-up a:hover {
  color: #c1a067;
}

.navbar-middle {
  height: 140px;
  display: flex;
  justify-content: space-between;
}

.block-logo {
  width: 200px;
  margin: 10px 15px;
}

.block-search {
  width: 60%;
}

.block-search input {
  width: 100%;
  border: none;
  border-bottom: 2px solid #c1a067;
  margin-top: 30px;
}

.contact-inf {
  margin-top: 20px;
  justify-content: space-between;
}

.contact-inf img {
  margin-right: 5px;
}

.navbar-middle .contact-inf {
  display: flex;
}

.block-basket {
  display: flex;
  width: 90px;
  height: 90px;
  background: #c1a067;
  margin: 20px 30px;
  padding: 24px 29px;
}

.block-basket:hover {
  background: #b88f48;
  cursor: pointer;
}

.block-basket:after {
  color: #ffffff;
  content: "4";
  margin: -14px 5px;
}

.navbar-down {
  background-color: #302a31;
  height: 60px;
  padding: 0;
}

.navbar-down a {
  display: block;
  color: #ffffff;
}

.navbar-down a:hover {
  color: #c1a067;
}

.navbar-down ul {
  width: 100%;
  display: flex !important;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.navbar-down li {
  height: 60px;
  list-style: none;
  padding-top: 10px;
}

.special-sale {
  text-align: center;
  background-color: #c16774;
  width: 10%;
}

.header_logo {
  text-align: center;
  margin: 15px 0;
}

.carousel-control-prev-icon {
  width: 100%;
  height: 100%;
  background: no-repeat 50% 50% !important;
}

.slider {
  margin-top: 63px;
}

.section-sendpart {
  display: flex;
  margin-top: 28px;
}

.text-part {
  color: #302a31;
  font-family: Circe;
  font-size: 14px;
  font-weight: 400;
  font-variant: small-caps;
  letter-spacing: 1.4px;
}

.carousel-control-next-icon {
  width: 100%;
  height: 100%;
  background: no-repeat 50% 50% !important;
}

.carousel-indicators {
  margin-right: 36%;
  margin-left: 0;
}

.carousel-indicators li {
  width: 10px;
  height: 10px;
  margin: 0 20px;
  border: 2px solid #c1a067;
  background: none;
}

.carousel-indicators .active {
  background: #c1a067;
}

.section-items h3 {
  margin-top: 20px;
  color: #302a31;
  font-family: Circe;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.item_block {
  text-align: center;
  margin-top: 70px;
}

.item_block img {
  margin: 0 auto;
  width: 80%;
}

.item_block h4 {
  color: #302a31;
  font-family: Circe;
  font-size: 16px;
  font-weight: 400;
  line-height: 36px;
  text-transform: uppercase;
  margin-top: 12px;
}

.item_inform {
  margin-top: 10px;
}

.item_inform p {
  color: #302a31;
  font-family: Circe;
  font-size: 13px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.33px;
  margin-bottom: 0;

}

.item_cost {
  display: flex;
  justify-content: space-evenly;
  margin: 20px 30px;

}

.item_cost p {
  display: block;
}

.item_cost__before {
  color: red;
}

.section-brand {
  text-align: center;
}

.multiple-items-brands .item_block {
  text-align: left;
}

.section-brand a {
  color: #c1a067;
  font-family: Circe;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  font-variant: small-caps;
}

.section-brand img {
  width: 16%;
}

.section-article {
  margin-top: 50px;

}

.section-article h3 {
  margin-top: 20px;
  margin-bottom: 20px;
  color: #302a31;
  font-family: Circe;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.block-right-news {
  background-color: #f9f9f9;
}

.block-right-news img {
  position: relative;
  z-index: 2;
}

.block-right-news div {
  position: relative;
  z-index: 4;
}

.block-news h4 {
  margin-top: 10px;
  color: #302a31;
  font-family: Circe;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

.date-apart {
  color: #c1a067;
  font-family: Circe;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
}

.section-article a {
  display: block;
  text-align: center;
  margin-top: 40px;
  color: #c1a067;
  font-family: Circe;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  font-variant: small-caps;
}

.section-links {
  margin-top: 30px;
  background: #302a31;
  padding: 30px 40px
}

.block-links {
  display: grid;
}

.section-links h4 {
  color: #ffffff;
  font-family: Circe;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  font-variant: small-caps;
}

.section-links a {
  color: #ffffff;
  font-family: Circe;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
}

.section-links a:hover {
  color: #c1a067;
  text-decoration: none;
}

.call-us p {
  color: #ffffff;
  font-family: Circe;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
}

.call-us p img {
  margin: 0 4px
}

.call-back p {
  color: #ffffff;
  font-family: Circe;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  font-variant: small-caps;
}

.call-back p img {
  margin-right: 15px;
}

.footer-down {
  padding: 30px 40px;
  display: flex;
  justify-content: space-between;
  background: #302a31;
  color: #ffffff;
}

.footer-down p img {
  margin-right: 15px;
}

.mail-resend {
  color: #ffffff;
  font-family: Circe;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  font-variant: small-caps;
}

.mail-resend input {
  margin-top: 24px;
  width: 100%;
  background: inherit;
  border: none;
  border-bottom: 2px solid #c1a067;
}

.mail-resend button {
  margin-left: 60%;
  margin-top: 12px;
  background: inherit;
  color: #c1a067;
  border: none;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  font-variant: small-caps;
}

.mail-resend p {
  margin-top: 34px;
}

.mail-resend p img {
  margin-right: 14px;
}