.box-screenshot {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.item-screenshoot .btn-screenshot {
  margin-left: 0 3%;
  width: 2rem;
  cursor: pointer;
}

/* .btn-screenshot--inactive {
  opacity: 0.2;
} */

.btn-screenshot img {
  width: 200px;
  height: 200px;
  position: absolute;
  z-index: 5;
  width: 60%;
}
.btn-left-screenshoot {
  background-image: url(../img/icon/left.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: #ffffff;
  left: -10%;
  top: 38%;
}
.btn-right-screenshoot {
  background-image: url(../img/icon/right.png),
    linear-gradient(90deg, rgba(253, 113, 44, 1) 0%, rgba(240, 28, 120, 1) 100%);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  right: -10%;
  top: 38%;
}
.btn-screenshoot {
  position: absolute;
  padding: 20px;
  border-radius: 25px;
  border: 2px solid #eeeeee;
}
.cards-wrapper {
  margin-top: 120px;
  max-width: 100%;
}
.btn-screenshot .cards-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards__container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25rem;
  padding: 0;
  margin-bottom: 240px;
  /* max-width: 1120px; */
}

.item-screenshoot {
  width: 326px;
  height: 578px;
  box-shadow: 0px 0px 2rem 0px #888888;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.item-screenshoot img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 0px 2rem 0px #888888;
}

.item-screenshoot:nth-child(1) {
  left: 0%;
}
.item-screenshoot:nth-child(2) {
  left: -7%;
}

.item-screenshoot:nth-child(3) {
  left: -10%;
}
.item-screenshoot:nth-child(5) {
  left: 10%;
}
.item-screenshoot:nth-child(6) {
  left: 7%;
}
.item-screenshoot:nth-child(7) {
  left: -0%;
}

.item-screenshoot:nth-child(4) {
  transform: scale(1);
  z-index: 4;
}
.item-screenshoot:nth-child(6n + 1) {
  transform: scale(0.65);
  z-index: 1;
}

.item-screenshoot:nth-child(4n + 2) {
  transform: scale(0.75);
  z-index: 2;
}
.item-screenshoot:nth-child(5n + 3) {
  transform: scale(0.85);
  z-index: 3;
}
.item-screenshoot:nth-child(3n + 5) {
  transform: scale(0.85);
  z-index: 3;
}

.card__text-content {
  text-align: center;
  width: 75%;
}

.card__title {
  padding: 1rem;
}

.item-screenshoot--hide {
  display: none;
}

.move-out-from-left {
  animation: moveOutLeft 0.5s blinds;
}

.move-out-from-right {
  animation: moveOutRight 0.5s blinds;
}

.move-to-position5-from-left {
  animation: moveToP5Left 0.5s blinds;
}

.move-to-position4-from-left {
  animation: moveToP4Left 0.5s blinds;
}

.move-to-position3-from-left {
  animation: moveToP3Left 0.5s blinds;
}

.move-to-position2-from-left {
  animation: moveToP2Left 0.5s blinds;
}

.move-to-position1-from-left {
  animation: moveToP1Left 0.5s blinds;
}

.move-to-position5-from-left {
  animation: moveToP5Left 0.5s blinds;
}
.move-to-position6-from-left {
  animation: moveToP6Left 0.5s blinds;
}
.move-to-position6-from-left {
  animation: moveToP7Left 0.5s blinds;
}
.move-to-position6-from-right {
  animation: moveToP7right 0.5s blinds;
}
.move-to-position6-from-right {
  animation: moveToP6Right 0.5s blinds;
}

.move-to-position4-from-right {
  animation: moveToP4Right 0.5s blinds;
}
.move-to-position3-from-right {
  animation: moveToP3Right 0.5s blinds;
}
.move-to-position2-from-right {
  animation: moveToP2Right 0.5s blinds;
}
.move-to-position1-from-right {
  animation: moveToP1Right 0.5s blinds;
}

@keyframes moveOutLeft {
  0% {
    transform: scale(0.75) translateX(0%);
    opacity: 1;
  }
  50% {
    transform: scale(0.5) translateX(-150%);
    opacity: 0.5;
  }
  100% {
    transform: scale(0.25) translateX(0%);
    opacity: 0;
  }
}

@keyframes moveOutRight {
  0% {
    transform: scale(0.75) translateX(0%);
    opacity: 1;
  }
  50% {
    transform: scale(0.5) translateX(150%);
    opacity: 0.5;
  }
  100% {
    transform: scale(0.25) translateX(0%);
    opacity: 0;
  }
}

@keyframes moveToP7Left {
  from {
    transform: scale(0.75) translateX(100%);
  }
  to {
    transform: scale(0.75) translateX(0);
  }
}

@keyframes moveToP6Left {
  from {
    transform: scale(0.75) translateX(100%);
  }
  to {
    transform: scale(0.75) translateX(0);
  }
}

@keyframes moveToP5Left {
  from {
    transform: scale(0.75) translateX(100%);
  }
  to {
    transform: scale(0.75) translateX(0);
  }
}

@keyframes moveToP4Left {
  from {
    transform: scale(0.75) translateX(100%);
  }
  to {
    transform: scale(0.85) translateX(0);
  }
}

@keyframes moveToP3Left {
  from {
    transform: scale(0.85) translateX(100%);
  }
  to {
    transform: scale(1) translateX(0);
  }
}

@keyframes moveToP2Left {
  from {
    transform: scale(1) translateX(100%);
  }
  to {
    transform: scale(0.85) translateX(0);
  }
}

@keyframes moveToP1Left {
  from {
    transform: scale(0.85) translateX(100%);
  }
  to {
    transform: scale(0.75) translateX(0);
  }
}

@keyframes moveToP1Right {
  from {
    transform: scale(0.75) translateX(-100%);
  }
  to {
    transform: scale(0.75) translateX(0);
  }
}

@keyframes moveToP2Right {
  from {
    transform: scale(0.75) translateX(-100%);
  }
  to {
    transform: scale(0.85) translateX(0);
  }
}

@keyframes moveToP3Right {
  from {
    transform: scale(0.85) translateX(-100%);
  }
  to {
    transform: scale(1) translateX(0);
  }
}

@keyframes moveToP4Right {
  from {
    transform: scale(1) translateX(-100%);
  }
  to {
    transform: scale(0.85) translateX(0);
  }
}

@keyframes moveToP5Right {
  from {
    transform: scale(0.85) translateX(-100%);
  }
  to {
    transform: scale(0.75) translateX(0);
  }
}

@keyframes moveToP6Right {
  from {
    transform: scale(0.85) translateX(-100%);
  }
  to {
    transform: scale(0.75) translateX(0);
  }
}
@keyframes moveToP7Right {
  from {
    transform: scale(0.85) translateX(-100%);
  }
  to {
    transform: scale(0.75) translateX(0);
  }
}

/* COMMENTS CAROUSEL  */

@media only screen and (max-width: 600px) {
  .cards-wrapper {
    height: 360px;
    margin-top: -68px;
  }
  .item-screenshoot:nth-child(1) {
    left: 8%;
  }
  .item-screenshoot:nth-child(2) {
    left: 0%;
  }

  .item-screenshoot:nth-child(3) {
    left: 0%;
  }
  .item-screenshoot:nth-child(5) {
    left: 0%;
  }
  .item-screenshoot:nth-child(6) {
    left: 0%;
  }
  .item-screenshoot:nth-child(7) {
    left: -8%;
  }

  .item-screenshoot:nth-child(4) {
    transform: scale(0.35);
    z-index: 4;
  }
  .item-screenshoot:nth-child(6n + 1) {
    transform: scale(0.1);
    z-index: 1;
  }

  .item-screenshoot:nth-child(4n + 2) {
    transform: scale(0.15);
    z-index: 2;
  }
  .item-screenshoot:nth-child(5n + 3) {
    transform: scale(0.25);
    z-index: 3;
  }
  .item-screenshoot:nth-child(3n + 5) {
    transform: scale(0.25);
    z-index: 3;
  }
  .btn-left-screenshoot {
    left: -5%;
    z-index: 10;
  }
  .btn-right-screenshoot {
    right: -5%;
    z-index: 10;
  }
}
@media only screen and (min-width: 600px) and (max-width: 1120px) {
  .cards-wrapper {
    height: 400px;
    margin-top: -20px;
  }
  .item-screenshoot:nth-child(1) {
    left: 8%;
  }
  .item-screenshoot:nth-child(2) {
    left: 0%;
  }

  .item-screenshoot:nth-child(3) {
    left: 0%;
  }
  .item-screenshoot:nth-child(5) {
    left: 0%;
  }
  .item-screenshoot:nth-child(6) {
    left: 0%;
  }
  .item-screenshoot:nth-child(7) {
    left: -8%;
  }

  .item-screenshoot:nth-child(4) {
    transform: scale(0.55);
    z-index: 4;
  }
  .item-screenshoot:nth-child(6n + 1) {
    transform: scale(0.2);
    z-index: 1;
  }

  .item-screenshoot:nth-child(4n + 2) {
    transform: scale(0.35);
    z-index: 2;
  }
  .item-screenshoot:nth-child(5n + 3) {
    transform: scale(0.45);
    z-index: 3;
  }
  .item-screenshoot:nth-child(3n + 5) {
    transform: scale(0.45);
    z-index: 3;
  }
  .btn-left-screenshoot {
    left: -5%;
    z-index: 10;
  }
  .btn-right-screenshoot {
    right: -5%;
    z-index: 10;
  }
}
