* {
  font-family: "Roboto", sans-serif;
}

.hidden {
  display: none;
}

.open_window {
  display: flex;
  width: 100vw;
  height: 100vh;
  min-width: 520px;
  min-height: 920px;
  background: linear-gradient(125deg, #52de59, #52b9b0);
  align-items: center;
  justify-content: center;
}

.line hr {
  margin-top: 39px;
}

.open_window p {
  margin-top: 35px;
  color: #ffffff;
  font-size: 24px;
  font-weight: 300;
}

.open_window button {
  width: 186px;
  height: 61px;
  margin: 35px;
  margin: 0 20px;
  border-radius: 1px;
  border: 1px solid #ffffff;
  background: inherit;
  color: #ffffff;
}

.open_window .row {
  justify-content: center;
  align-content: center;
}

.open_window .col {
  text-align: center;
}
